/* #ka&5b8%q@R5wMi openWeather pasword */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 176, 36);
}
.main-div {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-color: aqua;
}
.search-box {
  padding-top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#search-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(195, 201, 17);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
#input {
  border: none;
  outline: none;
  width: 170px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
}
#weather-Img {
  width: 100px;
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
}
#temp {
  padding-top: 25px;
  text-align: center;
}

#city-name {
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
}

.details {
  padding-top: 40px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.first-col,
.sec-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
#humidity {
  width: 70px;
}
#rainy {
  width: 70px;
}
